.vscode/**
.vscode-test/**
src/**
node_modules/**
.git/**
.gitignore
.gitattributes
tsconfig.json
.eslintrc.json
.yarnrc
.editorconfig
vsc-extension-quickstart.md
**/*.map
**/*.ts
test/**
tests/**
**/*.test.js
**/*.spec.js
.DS_Store
*.vsix
*.log
npm-debug.log*
